.header {
    position: sticky;
    top: 0;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    color: black;
    background-color: $color-principal;

    &__nav {
        position: absolute;
        top: 100%;
        left: 0;
        width: 75%;
        height: 100vh;
        padding-top: 1rem;
        background-color: $color-principal;
        transition: transform 0.2s ease-in-out;
        transform: translateX(-100%);

        @media screen and (min-width: $widthMinTablet) {
            position: static;
            padding-top: 0;
            height: auto;
            transform: none;
        }

        &-list {
            display: flex;
            flex-direction: column;
            padding: 0;
            margin: 0;
            list-style: none;

            @media screen and (min-width: $widthMinTablet) {
                flex-direction: row;
                align-items: center;
                justify-content: center;
            }
        }

        &-item {
            padding-left: 1rem;
            margin-bottom: 1.5rem;

            @media screen and (min-width: $widthMinTablet) {
                padding: 0 1rem 0 2rem;
                margin-bottom: 0;
            }
        }
    }

    &__menu-button,
    &__user-button {
        color: black;
        cursor: pointer;
        background: none;
        border: none;

    }

    &__menu-button,
    &__menu-times {
        @media screen and (min-width: $widthMinTablet) {
            display: none;
        }
    }

    &__logo-container {
        width: 100px;
        height: auto;

        .header__logo {
            display: block;
            width: 100%;
            height: auto;
        }
    }

    &__link {
        color: black;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
            text-underline-offset: 0.5rem;
            text-decoration-thickness: 0.2rem;
            font-weight: bold;
        }
    }

    .header--active &__nav {
        display: flex;
    }
}