<footer class="footer">
    <div class="footer__logo-container">
        <a href="index.html">
            <img src="./assets/images/main-logo-small.png" alt="Favicon Queen" class="header__logo" />
        </a>
    </div>
    <ul class="footer__list">
        <li class="footer__item">
            <a href="index.html" class="footer__link">Inicio</a>
        </li>
        <li class="footer__item">
            <a href="category.html" class="footer__link">Discografía</a>
        </li>
        <li class="footer__item">
            <a href="detail.html" class="footer__link">Detalle (Albúm)</a>
        </li>
        <li class="footer__item">
            <a href="presentation.html" class="footer__link">Presentación</a>
        </li>
        <li class="footer__item">
            <a href="links.html" class="footer__link">Enlaces</a>
        </li>
    </ul>
    <hr>
    <ul class="footer__list">
        <li class="footer__item">
            <a href="#" class="footer__link">Aviso legal</a>
        </li>
        <li class="footer__item">
            <a href="#" class="footer__link">Política de cookies</a>
        </li>
        <li class="footer__item">
            <a href="#" class="footer__link">Política de privacidad</a>
        </li>
        <li class="footer__item">
            <a href="#" class="footer__link">Contacto</a>
        </li>
        <li class="footer__item">
            <a href="#" class="footer__link">Sobre nosotros</a>
        </li>
        <li class="footer__item">
            <a href="#" class="footer__link">Preguntas frecuentes</a>
        </li>
    </ul>
    <div class="footer__socials">
        <a href="#" class="footer__social-link" target="_blank"><i class="fab fa-x-twitter fa-xl"></i></a>
        <a href="#" class="footer__social-link" target="_blank"><i class="fab fa-facebook fa-xl"></i></a>
        <a href="#" class="footer__social-link" target="_blank"><i class="fab fa-instagram fa-xl"></i></a>
        <a href="#" class="footer__social-link" target="_blank"><i class="fab fa-whatsapp fa-xl"></i></a>
        <a href="#" class="footer__social-link" target="_blank"><i class="fab fa-telegram fa-xl"></i></a>
    </div>
    <div class="footer__copyright">
        © Francisco José Coto Pacheco
    </div>
    <div class="footer__disclaimer">
        Esta página está realizada con fines académicos.
    </div>
</footer>