<header class="header">
    <button class="header__menu-button">
        <span class="fas fa-bars fa-2xl"></span>
        <span class="fas fa-times fa-2xl hidden"></span>
    </button>
    <div class="header__logo-container">
        <a href="index.html">
            <img src="./assets/images/main-logo-small.png" alt="Favicon Queen" class="header__logo" loading="lazy" />
        </a>
    </div>
    <nav class="header__nav">
        <ul class="header__nav-list">
            <li class="header__nav-item"><a href="index.html" class="header__link">Inicio</a></li>
            <li class="header__nav-item"><a href="category.html" class="header__link">Discografía</a></li>
            <li class="header__nav-item"><a href="presentation.html" class="header__link">Presentación</a></li>
            <li class="header__nav-item"><a href="links.html" class="header__link">Enlaces</a></li>
        </ul>
    </nav>
    <button class="header__user-button">
        <span class="fas fa-user fa-2xl shake"></span>
    </button>
</header>