.content {
    flex: 1;
    background-color: $color-background-1;

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 0.5rem;
        color: black;

    }

    &__img-container {
        margin: 2rem 0 0rem 0;
        margin-right: 1rem;
        margin-left: 1rem;
    }

    &__title {
        margin-top: 20px;

        &::after {
            background: black;
        }
    }

    &__text {

        @media screen and (min-width: $widthMinTablet) {
            margin: 0 5rem;
        }

        @media screen and (min-width: $widthDesktop) {
            margin: 0 10rem;
        }
    }

    &__list {
        padding-left: 3rem;
        margin-bottom: 0.2rem;
        height: 300px;

        @media screen and (min-width: $widthMinTablet) {
            margin: 0 5rem;
        }

        @media screen and (min-width: $widthDesktop) {
            margin: 0 10rem;
        }

        &-item {
            padding-right: 2rem;
            padding-left: 3rem;
            margin-bottom: 0.2rem;
            text-indent: -3rem;

            &--indented {
                padding-left: 3rem;
            }
        }
    }

    &__sub-list {
        padding-left: 3rem;
        margin-bottom: 0.2rem;

        @media screen and (min-width: $widthMinTablet) {
            margin: 0 5rem;
        }

        @media screen and (min-width: $widthDesktop) {
            margin: 0 10rem;
        }

        &-item {
            padding-right: 2rem;
            padding-left: 3rem;
            margin-bottom: 0.2rem;
            text-indent: -3rem;

            &--indented {
                padding-left: 3rem;
            }
        }
    }

    &__grid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 2rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
        cursor: pointer;

        @media screen and (min-width: $widthMinTablet) {
            grid-template-columns: repeat(2, 1fr);
        }

        @media screen and (min-width: $widthDesktop) {
            grid-template-columns: repeat(3, 1fr);
        }

        &-item {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 250px;
            height: 250px;
            padding: 0.5rem;
            color: inherit;
            text-decoration: none;
            background-color: $color-background-4;
            border-radius: 20px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            transition: transform 0.5s ease-in-out;
            transform: scale(1);

            &:hover {
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
                transform: scale(1.15);
            }

            &-title {
                padding: 0.74rem;
                padding-bottom: 1rem;
                font-size: 1rem;
                text-align: center;
            }

            &-image {
                width: 150px;
                height: 100;
            }

            &-text {
                font-size: 0.75rem;
                text-align: center;
            }
        }

    }

    &__video {
        margin: 1rem 0 1rem 0;
    }

    &__table-img {
        width: 40%;
        height: auto;
        transition: transform 0.5s ease;

        &:hover {
            transform: scale(1.05);
        }

        @media screen and (min-width: $widthMinTablet) {
            width: 90%;
        }
    }

}