.home {
    flex: 1;
    background-color: white;
    min-height: max-content;

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 0.5rem;
        color: $color-background-2;
    }

    &__title {
        margin-top: 20px;
    }

    &__logo {
        display: block;
        opacity: 0;
        width: 85%;
        height: auto;
        margin-right: auto;
        margin-left: auto;
        transform: translateY(100%);
        animation: slideUp 1.5s forwards;
        clip-path: polygon(15% 30%, 20% 15%, 35% 30%, 50% 0%, 65% 30%, 80% 15%, 85% 30%, 100% 15%, 85% 75%, 15% 75%, 0 15%);
    }

    &__text {

        &--note {
            font-size: 0.8rem;
            font-style: italic;
        }
    }

}

.hidden {
    display: none;
}

