.home {
    flex: 1;
    background-color: $color-background-2;    

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 0.5rem;
        color: white;
    }

    &__title {
        margin-top: 20px;
    }

    &__logo {
        display: block;
        width: 80%;
        height: auto;
        margin-right: auto;
        margin-left: auto;        
    }

    &__text {

        &--note {
            font-size: 0.8rem;
            font-style: italic;            
        }
    }

}

.hidden {
    display: none;
}