.home {
    background-color: $color-background-2;

    &__container {
        margin-top: 0.5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: white;

        @media screen and (min-width: $widthMinTablet) {}
    }

    &__title {
        margin-top: 20px;
    }

    &__logo {
        width: 80%;
        height: auto;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    &__text {

        &--note {
            font-style: italic;
            font-size: 0.8rem;
        }
    }

}

.hidden {
    display: none;
}