$color-principal: white;
$color-secondary: #47f4d4;
$color-background-1: #f7f7f7;
$color-background-2: #141414;
$color-background-3: #c8c8c8;
$color-background-4: #f9cece;

$widthMinTablet: 601px;
$widthMaxTablet: 1024px;
$widthDesktop: 1025px;
$widthDesktopL: 1441px;

$font-size: 14px;