/* Import variables  */

@import "variables";

/* Import dependencies */

/* Import component styles */

@import "content";
@import "index";
@import "components/header";
@import "components/footer";

/* Import fonts */

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/Open_Sans/OpenSans-VariableFont_wdth\,wght.woff2') format('woff2');
    font-display: swap;
}
