/* Import variables  */

@import "variables";

/* Import dependencies */

/* Import component styles */

@import "content";
@import "index";
@import "components/header";
@import "components/footer";

/* Import fonts */

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto/Roboto-Regular.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/Open_Sans/static/OpenSans-Regular.woff2') format('woff2');
    font-display: swap;
}
