@import "main.scss";

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    font-family: 'Open Sans', 'Roboto', sans-serif;
}

h2::after {
    content: "";
    height: 0.4rem;
    background: white;
    display: block;
}

p {
    padding: 1.5rem;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75);
}

.active {
    text-decoration: underline;
    text-underline-offset: 0.5rem;
    text-decoration-thickness: 0.2rem;
    font-weight: bold;
}

.swiper {
    margin-top: 1rem;
    width: 80%;
}

.swiper img {
    width: 100%;
    height: auto;

}

@media screen and (min-width: 601px) {

    .swiper img {
        width: 75%;
    }

}

@media screen and (min-width: 1024px) {

    .swiper img {
        width: 50%;
    }
}


.swiper-wrapper {
    text-align: center;
}


ol {
    list-style-position: inside;
    padding: 0.1rem;
}


table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 90%;
    table-layout: fixed;
}

table tr {
    background-color: white;
    border: 1px solid #ddd;
}

table th {
    background-color: #f9cece;
    text-transform: uppercase;
}

table th,
table td {
    padding: 0.5rem;
    text-align: center;
    border: 1px solid #ccc;
}

@media screen and (max-width: 600px) {
    table {
        border: 0;
    }

    table thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }

    table tr {
        border-bottom: 3px solid #ddd;
        display: block;
        margin-bottom: .625em;
    }

    table td {
        border-bottom: 1px solid #ddd;
        display: block;
        font-size: .8em;
        text-align: right;
    }

    table td::before {
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
    }

    table td:last-child {
        border-bottom: 0rem;
    }
}

.video-fluid {
    position: relative;
    display: block;
    width: 100%;
    padding: 0;
    overflow: hidden;
}

.video-fluid-item {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

.video-fluid::before {
    display: block;
    content: "";
    padding-top: 56.25%;
}

.img-fluid {
    width: 100%;
    height: auto;
}

figcaption {
    margin-bottom: 1rem;
}

ul.breadcrumb {
    margin-top: 3rem;
    list-style: none;
    font-size: .9rem;

}

ul.breadcrumb li {
    display: inline-block;
}

ul.breadcrumb li+li {
    padding-left: .25rem;
}

ul.breadcrumb li+li::before {
    padding-right: .25rem;
    content: ">";
    color: var(--principal-color);
}

ul.breadcrumb li a {
    color: var(--principal-color);
    text-decoration: none;
}

ul.breadcrumb li a:hover {
    color: var(--principal-color-a);
    text-decoration: none;
}

ul.breadcrumb li.active {
    color: var(--secondary-color);
    text-decoration: none;
}