@import "main.scss";

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    font-family: 'Open Sans', 'Roboto', sans-serif;
}

h2::after {
    content: "";
    height: 0.4rem;
    background: #141414;
    display: block;
    margin-bottom: 1rem;
}

p {
    padding: 1.5rem;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75);
}

.active {
    text-decoration: underline;
    text-underline-offset: 0.5rem;
    text-decoration-thickness: 0.2rem;
    font-weight: bold;
}

.swiper {
    margin-top: 1rem;
    width: 80%;
}

.swiper img {
    width: 100%;
    height: auto;

}

@media screen and (min-width: 601px) {

    .swiper img {
        width: 75%;
    }

}

@media screen and (min-width: 1024px) {

    .swiper img {
        width: 50%;
    }
}


.swiper-wrapper {
    text-align: center;
}


ol {
    list-style-position: inside;
    padding: 0.1rem;
}


table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 90%;
    table-layout: fixed;
}

table tr {
    background-color: white;
    border: 1px solid #ddd;
}

table th {
    background-color: #f9cece;
    text-transform: uppercase;
}

table th,
table td {
    padding: 0.5rem;
    text-align: center;
    border: 1px solid #ccc;
}

@media screen and (max-width: 600px) {
    table {
        border: 0;
    }

    table thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }

    table tr {
        border-bottom: 3px solid #ddd;
        display: block;
        margin-bottom: .625em;
    }

    table td {
        border-bottom: 1px solid #ddd;
        display: block;
        font-size: .8em;
        text-align: right;
    }

    table td::before {
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
    }

    table td:last-child {
        border-bottom: 0rem;
    }
}

.video-fluid {
    position: relative;
    display: block;
    width: 90%;
    padding: 0;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
}

.video-fluid-item {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

.video-fluid::before {
    display: block;
    content: "";
    padding-top: 56.25%;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

figcaption {
    margin-bottom: 1rem;
    margin: 0 25px;
}

ul.breadcrumb {
    margin-top: 3rem;
    list-style: none;
    font-size: .9rem;

}

ul.breadcrumb li {
    display: inline-block;
}

ul.breadcrumb li+li {
    padding-left: .25rem;
}

ul.breadcrumb li+li::before {
    padding-right: .25rem;
    content: ">";
}

ul.breadcrumb li a {
    text-decoration: none;
}

ul.breadcrumb li a:hover {
    text-decoration: none;
}

ul.breadcrumb li.active {
    text-decoration: none;
}

form {
    border: 1px solid #ccc;
    border-radius: 1rem;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 2rem;
    padding: 1rem;
}

.form-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
}

input,
textarea {

    width: 300px;
}

@media screen and (min-width: 601px) {

    input,
    textarea {
        width: 500px;
    }

}

button {
    padding: 0.5rem;
}

.form-button {
    border: none;
    border-radius: 0.5rem;
    background-color: #f9cece;
    padding: 0.5rem;
    cursor: pointer;
    color: black;
    width: 100px;
    font-size: 1rem;
    transition: all 0.2s ease;
}

.form-button:hover {
    background-color: white;
    border: 1px solid black;
    transform: scale(1.1) rotate(2deg);
}


iframe {
    border: none;
}

h3 {
    margin: 1rem 0 1rem 0;
}

h4 {
    margin-top: 2rem;
}

.hidden-list-type {
    list-style-type: none;
}

@keyframes slideUp {
    0% {
        opacity: 0;
        transform: translateY(50%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fall {
    0% {
        transform: translateY((-200px) rotate(0deg));
    }

    50% {
        transform: translateY(0) rotate(20deg);
    }

    100% {
        transform: translateY(0) rotate(-20deg);
    }
}

@keyframes bounce {
    0% {
        transform: translateY(0) rotate(-20deg);
    }

    25% {
        transform: translateY(0) rotate(20deg);
    }

    50% {
        transform: translateY(0) rotate(-15deg);
    }

    75% {
        transform: translateY(0) rotate(15deg);
    }

    100% {
        transform: translateY(0) rotate(0deg);
    }
}

.bounce {
    animation: fall 2s ease-in-out forwards, bounce 2s 2s infinite ease-in-out
}

.img-signature {
    width: 700px;
    height: auto;
    max-width: 100%;
}

.img-signature path {
    stroke: black;
    stroke-width: 1;
    stroke-dasharray: 1000;
    animation: draw 3s linear infinite alternate;
}

@keyframes draw {
    from {
        stroke-dashoffset: 1000;
    }

    to {
        stroke-dashoffset: 0;
    }
}

hr {
    margin-bottom: 1.5rem;
}

.clip-animation {
    clip-path: polygon(100% 50%, 84.70057014808336% 54.5684167277018%, 91.0518476172854% 60.99980941685713%, 82.33578363789503% 63.39392013277814%, 93.30127018922194% 75%, 77.76736691019323% 71.30665001530522%, 80.05203820042827% 80.05203820042827%, 71.30665001530522% 77.76736691019323%, 75% 93.30127018922192%, 63.39392013277814% 82.33578363789503%, 60.99980941685714% 91.0518476172854%, 54.56841672770181% 84.70057014808336%, 50% 100%, 45.4315832722982% 84.70057014808336%, 39.000190583142874% 91.0518476172854%, 36.606079867221865% 82.33578363789505%, 25.00000000000001% 93.30127018922194%, 28.693349984694787% 77.76736691019323%, 19.947961799571733% 80.05203820042827%, 22.23263308980677% 71.30665001530522%, 6.698729810778076% 75.00000000000001%, 17.664216362104966% 63.39392013277815%, 8.948152382714603% 60.99980941685715%, 15.299429851916635% 54.568416727701816%, 0% 50.00000000000001%, 15.299429851916635% 45.431583272298205%, 8.94815238271459% 39.00019058314288%, 17.66421636210496% 36.60607986722188%, 6.698729810778062% 25.000000000000014%, 22.23263308980676% 28.693349984694787%, 19.947961799571715% 19.947961799571747%, 28.69334998469477% 22.232633089806775%, 24.99999999999998% 6.698729810778083%, 36.60607986722184% 17.664216362104973%, 39.00019058314284% 8.948152382714603%, 45.43158327229816% 15.299429851916642%, 49.99999999999999% 0%, 54.568416727701795% 15.299429851916635%, 60.99980941685711% 8.94815238271459%, 63.39392013277812% 17.66421636210496%, 74.99999999999997% 6.6987298107780475%, 71.3066500153052% 22.23263308980675%, 80.05203820042826% 19.947961799571722%, 77.76736691019323% 28.69334998469477%, 93.30127018922192% 24.99999999999998%, 82.33578363789502% 36.60607986722184%, 91.0518476172854% 39.00019058314283%, 84.70057014808336% 45.43158327229816%)
}

.clip-animation {
    animation: clip 1.5s infinite
}

@keyframes clip {
    0% {
        clip-path: polygon(100% 50%, 84.70057014808336% 54.5684167277018%, 91.0518476172854% 60.99980941685713%, 82.33578363789503% 63.39392013277814%, 93.30127018922194% 75%, 77.76736691019323% 71.30665001530522%, 80.05203820042827% 80.05203820042827%, 71.30665001530522% 77.76736691019323%, 75% 93.30127018922192%, 63.39392013277814% 82.33578363789503%, 60.99980941685714% 91.0518476172854%, 54.56841672770181% 84.70057014808336%, 50% 100%, 45.4315832722982% 84.70057014808336%, 39.000190583142874% 91.0518476172854%, 36.606079867221865% 82.33578363789505%, 25.00000000000001% 93.30127018922194%, 28.693349984694787% 77.76736691019323%, 19.947961799571733% 80.05203820042827%, 22.23263308980677% 71.30665001530522%, 6.698729810778076% 75.00000000000001%, 17.664216362104966% 63.39392013277815%, 8.948152382714603% 60.99980941685715%, 15.299429851916635% 54.568416727701816%, 0% 50.00000000000001%, 15.299429851916635% 45.431583272298205%, 8.94815238271459% 39.00019058314288%, 17.66421636210496% 36.60607986722188%, 6.698729810778062% 25.000000000000014%, 22.23263308980676% 28.693349984694787%, 19.947961799571715% 19.947961799571747%, 28.69334998469477% 22.232633089806775%, 24.99999999999998% 6.698729810778083%, 36.60607986722184% 17.664216362104973%, 39.00019058314284% 8.948152382714603%, 45.43158327229816% 15.299429851916642%, 49.99999999999999% 0%, 54.568416727701795% 15.299429851916635%, 60.99980941685711% 8.94815238271459%, 63.39392013277812% 17.66421636210496%, 74.99999999999997% 6.6987298107780475%, 71.3066500153052% 22.23263308980675%, 80.05203820042826% 19.947961799571722%, 77.76736691019323% 28.69334998469477%, 93.30127018922192% 24.99999999999998%, 82.33578363789502% 36.60607986722184%, 91.0518476172854% 39.00019058314283%, 84.70057014808336% 45.43158327229816%);
    }

    50% {
        clip-path: polygon(84.70057014808336% 54.5684167277018%, 91.0518476172854% 60.99980941685713%, 82.33578363789503% 63.39392013277814%, 93.30127018922194% 75%, 77.76736691019323% 71.30665001530522%, 80.05203820042827% 80.05203820042827%, 71.30665001530522% 77.76736691019323%, 75% 93.30127018922192%, 63.39392013277814% 82.33578363789503%, 60.99980941685714% 91.0518476172854%, 54.56841672770181% 84.70057014808336%, 50% 100%, 45.4315832722982% 84.70057014808336%, 39.000190583142874% 91.0518476172854%, 36.606079867221865% 82.33578363789505%, 25.00000000000001% 93.30127018922194%, 28.693349984694787% 77.76736691019323%, 19.947961799571733% 80.05203820042827%, 22.23263308980677% 71.30665001530522%, 6.698729810778076% 75.00000000000001%, 17.664216362104966% 63.39392013277815%, 8.948152382714603% 60.99980941685715%, 15.299429851916635% 54.568416727701816%, 0% 50.00000000000001%, 15.299429851916635% 45.431583272298205%, 8.94815238271459% 39.00019058314288%, 17.66421636210496% 36.60607986722188%, 6.698729810778062% 25.000000000000014%, 22.23263308980676% 28.693349984694787%, 19.947961799571715% 19.947961799571747%, 28.69334998469477% 22.232633089806775%, 24.99999999999998% 6.698729810778083%, 36.60607986722184% 17.664216362104973%, 39.00019058314284% 8.948152382714603%, 45.43158327229816% 15.299429851916642%, 49.99999999999999% 0%, 54.568416727701795% 15.299429851916635%, 60.99980941685711% 8.94815238271459%, 63.39392013277812% 17.66421636210496%, 74.99999999999997% 6.6987298107780475%, 71.3066500153052% 22.23263308980675%, 80.05203820042826% 19.947961799571722%, 77.76736691019323% 28.69334998469477%, 93.30127018922192% 24.99999999999998%, 82.33578363789502% 36.60607986722184%, 91.0518476172854% 39.00019058314283%, 84.70057014808336% 45.43158327229816%, 100% 50%);
    }

    100% {
        clip-path: polygon(91.0518476172854% 60.99980941685713%, 82.33578363789503% 63.39392013277814%, 93.30127018922194% 75%, 77.76736691019323% 71.30665001530522%, 80.05203820042827% 80.05203820042827%, 71.30665001530522% 77.76736691019323%, 75% 93.30127018922192%, 63.39392013277814% 82.33578363789503%, 60.99980941685714% 91.0518476172854%, 54.56841672770181% 84.70057014808336%, 50% 100%, 45.4315832722982% 84.70057014808336%, 39.000190583142874% 91.0518476172854%, 36.606079867221865% 82.33578363789505%, 25.00000000000001% 93.30127018922194%, 28.693349984694787% 77.76736691019323%, 19.947961799571733% 80.05203820042827%, 22.23263308980677% 71.30665001530522%, 6.698729810778076% 75.00000000000001%, 17.664216362104966% 63.39392013277815%, 8.948152382714603% 60.99980941685715%, 15.299429851916635% 54.568416727701816%, 0% 50.00000000000001%, 15.299429851916635% 45.431583272298205%, 8.94815238271459% 39.00019058314288%, 17.66421636210496% 36.60607986722188%, 6.698729810778062% 25.000000000000014%, 22.23263308980676% 28.693349984694787%, 19.947961799571715% 19.947961799571747%, 28.69334998469477% 22.232633089806775%, 24.99999999999998% 6.698729810778083%, 36.60607986722184% 17.664216362104973%, 39.00019058314284% 8.948152382714603%, 45.43158327229816% 15.299429851916642%, 49.99999999999999% 0%, 54.568416727701795% 15.299429851916635%, 60.99980941685711% 8.94815238271459%, 63.39392013277812% 17.66421636210496%, 74.99999999999997% 6.6987298107780475%, 71.3066500153052% 22.23263308980675%, 80.05203820042826% 19.947961799571722%, 77.76736691019323% 28.69334998469477%, 93.30127018922192% 24.99999999999998%, 82.33578363789502% 36.60607986722184%, 91.0518476172854% 39.00019058314283%, 84.70057014808336% 45.43158327229816%, 100% 50%, 84.70057014808336% 54.5684167277018%);
    }
}

.shake {
    animation: shake 3s ease-in-out infinite;
}

@keyframes shake {

    0%,
    100% {
        transform: rotate(0deg);
    }

    10% {
        transform: rotate(-15deg);
    }

    20% {
        transform: rotate(15deg);
    }

    30% {
        transform: rotate(-12deg);
    }

    40% {
        transform: rotate(12deg);
    }

    50% {
        transform: rotate(-9deg);
    }

    60% {
        transform: rotate(9deg);
    }

    70% {
        transform: rotate(-6deg);
    }

    80% {
        transform: rotate(6deg);
    }

    90% {
        transform: rotate(-3deg);
    }
}